.button {
	border-radius: $input-radius;
	padding: 1em;
	margin: 2em 0;
	width: 100%;
	font-weight: 600;
	color: $text-blue;
	background-color: $background;
	border: 1px $border-blue solid;

	&:active {
		outline: none;
	}

	&:focus {
		outline: none;
	}

	&:hover {
		color: #FDFDFD;
		background-color: $border-blue;
		border: 1px $background solid;
		cursor: pointer;
	}

	&--small {
		max-width: 15em;
	}

	&--medium {
		max-width: 25em;
	}

	&-label--disabled {
		background-color: $border-gray;
		color: $background;
		border: 1px $border-gray solid;

		&:hover {
			cursor: not-allowed;
			background-color: $border-gray;
			color: $background;
			border: 1px $border-gray solid;
		}
	}

	&-green {
		border: 1px $border-green solid;
		color: $border-green;

		&:hover {
			color: #FDFDFD;
			background-color: $border-green;
			border: 1px $background solid;
			cursor: pointer;
		}
	}
}
