.header {
	display: flex;
	justify-content: center;
	align-items: center;
	height: (3 * $base-spacing);
	width: 100%;
	border-bottom: 1px $border-blue solid;
	background-color: $background;
	color: $text-blue;
	font-weight: 600;
}
