.sidebar {
	background-color: $background;
	border-left: 1px $border-blue solid;
	padding: 0 1em;
	width: (10 * $base-spacing);
	height: 100vh;

	&__max-selection {
		border-radius: $input-radius;
		padding: .5em;
		margin: .25em 0 1em;
		font-size: 1em;
		box-sizing: border-box;
		min-width: 100%;
		font-weight: 600;
		color: $text-blue;
		background-color: $background;
		border: 1px $border-blue solid;

		&:active {
			outline: none;
		}

		&:focus {
			outline: none;
		}

		&--disabled {
			background-color: $border-gray;
			color: $background;
			border: 1px $border-gray solid;
		}
	}

	&__selected-count {
		padding: 1em 0;
		font-weight: 600;
		color: $text-blue;
	}

	&__labeled-count {
		padding: 1em 0;
		font-weight: 600;
		color: $text-blue;
	}

	&__axis {
		background-color: $background;
		display: block;
		width: 100%;
		border: 1px $border-blue solid;
		border-radius: $input-radius;
		color: $text-blue;
		height: 3em;
		font-weight: 600;
		margin: .25em 0 2em;

		&:active {
			outline: none;
		}

		&:focus {
			outline: none;
		}
	}

	&__label {
		color: $text-blue;
		font-weight: 500;
		padding-top: 1em;
	}
}
